.setting {
    display: flex;
}

.settingWrapper {
    flex: 9;
    margin-left: 20px;
}

.settingPPImg {
    width: 70px;
    height: 70px;
    object-fit: cover;
    
    border-radius: 10px;
}

.settingTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingUpdateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}

.settingDeleteTitle {
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.settingForm {
    display: flex;
    flex-direction: column;
}

.settingPP {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settingPPIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;

    background-color: lightcoral;
    color: white;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-left: 10px;

    cursor: pointer;
}

.settingForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.settingForm > input {
    color: gray;
    margin: 10px 0;
    height: 30px;

    border: none;
    border-bottom: 1px solid gray;
}

.settingSubmit {
    width: 150px;
    align-self: center;
    border: none;

    border-radius: 10px;
    background-color: teal;
    color: white;

    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}